{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <title>DoctorApp | Enlace Enviado</title>
    <link rel="icon" href="{% static 'core/img/logo.ico' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'core/css/login.css' %}?v=2" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <style>
        .instruction-text {
            text-align: center;
            color: #333;
            margin-bottom: 25px;
            font-size: 1rem;
            line-height: 1.5;
        }

        .success-icon {
            color: #4caf50;
            font-size: 50px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="login-container">
        <img src="{% static 'core/img/fondolog.png' %}" alt="Fondo" class="background" />
        <div class="logo-superior">
            <img src="{% static 'core/img/letraDA.png' %}" alt="Logo DA" />
        </div>
        <div class="blur-box" style="padding-top: 50px;">
            <div style="text-align: center;">
                <i class="fa fa-paper-plane success-icon"></i>
            </div>
            <h2>¡Correo Enviado!</h2>
            <p class="instruction-text">
                Hemos enviado un enlace a tu correo. No olvides revisar la carpeta de <strong>Spam</strong> si no lo ves
                en unos minutos.
            </p>
            <a href="{% url 'login' %}" class="login-button"
                style="text-decoration: none; display: block; text-align: center; line-height: 45px; height: 45px;">
                Entendido, volver al Login
            </a>
        </div>
    </div>
</body>

</html>